---
const platform = 'github'
const username = 'withastro'
const linkedin = 'LinkedIn'
const norama = 'nora-mate'
---

<footer>
  <p>
    Learn more about Astro projects on <a href={`https://www.${platform}.com/${username}`}
      >{platform}</a
    >!
  </p>
  <p>
    My <a href={`https://www.${linkedin}.com/in/${norama}`}>{linkedin}</a>
  </p>
</footer>
